@model project2.Models.report

@{
    ViewData["Title"] = "Details";
}
<div style="margin-top:30px"><a asp-action="Index">Back to List</a></div>

<h1>Details</h1>


    <h4>report</h4>
    <hr />

    <div class="Content" >
            <div class="row">
            <div class="col-25"><p>Title</p></div>
            <div class="col-75"><textarea>@Html.DisplayFor(model => model.title)</textarea></div>
            </div>

    <div class="row">
        <div class="col-25"><p>Date</p></div>
        <div class="col-75"><p>@Html.DisplayFor(model => model.date)</p></div>
    </div>


    <div class="row">
        <div class="col-25"><p>Content</p></div>
        <div class="col-75"><textarea>@Html.DisplayFor(model => model.content)</textarea></div>
    </div>
    
   
       
</div>
<div class="row">
    <div class="col-25"></div>
    <div class="col-75"><a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a></div>
</div>
    
    

