@model project2.Models.report

@{
    ViewData["Title"] = "Edit";
}
<div style="margin-top:30px;">
    <a asp-action="Index">Back to List</a>
</div>

<h1>Edit</h1>
<h4>report</h4>
<hr />


    <div class="Content">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
        

        <div class="row">
            <div class="col-25">Title</div>
            <div class="col-75">@Model.title</div>
        </div>

        <div class="row">
            <div class="col-25">Content</div>
            <div class="col-75">@Model.content</div>
        </div>
                
        <div class="row">
            <div class="col-25">Date</div>
            <div class="col-75">@Model.date</div>
        </div>
                
                
        <input hidden asp-for="title" class="form-control" />
               
        <input hidden asp-for="date" class="form-control" />
         
        <input hidden asp-for="content" class="form-control" />
                
        
        <div class="row">
            <div class="col-25">@Html.DisplayNameFor(model => model.isSolved)</div>
            <div class="col-75"><input class="form-check-input" asp-for="isSolved" /> </div>
        </div>

        <div class="row">
            <div class="col-25"></div>
            <div class="col-75"><input type="submit" value="Save" class="btn btn-primary" /></div>
        </div>
       
        </form>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
