@model project2.Models.article

@{
    ViewData["Title"] = "Create";
}
<div style="margin-top:30px;">
    <a asp-action="Index">Back to List</a>
</div> 
<h1>Create</h1>

<h4>article</h4>

<div >

        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" ></div>

            <div class="row">
            <div class="col-25"><label asp-for="topic" ></label></div>
            <div class="col-75">
                <input asp-for="topic" />
                <span asp-validation-for="topic" ></span>
            </div>               
            </div>

            <div class="row">
            <div class="col-25"><label asp-for="category" ></label></div>
            <div class="col-75">
                <input asp-for="category"  />
                <span asp-validation-for="category"></span>
            </div>  
            



            </div>

            <div class="row">
            <div class="col-25"><label asp-for="tag" ></label></div>
            <div class="col-75">
                <input asp-for="tag"  />
                <span asp-validation-for="tag" ></span>
            </div>               
            </div>

                        <div class="row">
            <div class="col-25"><label asp-for="location" ></label></div>
            <div class="col-75">
                <input asp-for="location"  />
                <span asp-validation-for="location" ></span>
            </div>               
            </div>


            <div class="row">
            <div class="col-25"> <label asp-for="description" ></label></div>
            <div class="col-75">
                <input  asp-for="description" style="width:80%; height:80px;  " />
                <span asp-validation-for="description" ></span>
            </div>               
            </div>
        




           
            <div class="row">
            <div class="col-25"><label asp-for="imagefilename"></label></div>
            <div class="col-75">
                <input type="file" asp-for="imagefilename"  />
                <span asp-validation-for="imagefilename" ></span>
            </div>                
            </div>
            
            <br />
        <br />
        <br />
            <div class="row" >
            <div class="col-25"></div>
            <div class="col-75"><input type="submit" value="Create" class="btn btn-primary" /></div>
                
            </div>
        </form>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
