@model project2.Models.article

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="topic" class="control-label"></label>
                <input asp-for="topic" class="form-control" />
                <span asp-validation-for="topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tag" class="control-label"></label>
                <input asp-for="tag" class="form-control" />
                <span asp-validation-for="tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
        

           
            <div class="form-group">
                <label asp-for="imagefilename" class="control-label"></label>
                <input type="file" asp-for="imagefilename" class="form-control" />
                <span asp-validation-for="imagefilename" class="text-danger"></span>
            </div>
            <center> <img src="~/images/@Model.imagefilename" height="220"> </center>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
