@model project2.Models.article

@{
    ViewData["Title"] = "Edit";
}
<div style ="margin-top:30px;">
    <a asp-action="Index" >Back to List</a>
</div>
<h1>Edit</h1>

<h4>article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="col-25"><label asp-for="topic">Topic</label></div>
                <div class="col-75">
                    <input asp-for="topic" />
                    <span asp-validation-for="topic"></span>
                </div>
                
              
            </div>
            <div class="row">
                <div class="col-25"><label asp-for="category">Category</label></div>
                <div class="col-75">
                    <input asp-for="category" />
                    <span asp-validation-for="category"></span>
                </div>                
            </div>

            <div class="row">
                <div class="col-25"><label asp-for="tag">Tag</label></div>
                <div class="col-75">
                    <input asp-for="tag" />
                    <span asp-validation-for="tag"></span>
                </div>                                
            </div>

            <div class="row">
                <div class="col-25"><label asp-for="description">Description</label></div>
                <div class="col-75">
                    <input asp-for="description" />
                    <span asp-validation-for="description"></span>
                </div>                               
            </div>


               <div class="row">
                <div class="col-25"><label asp-for="location">location</label></div>
                <div class="col-75">
                    <input asp-for="location" />
                    <span asp-validation-for="location"></span>
                </div>                               
            </div>

            <div class="row" style="margin-top:30px;margin-bottom:30px;">
                <div class="col-25"><label asp-for="imagefilename">Image</label></div>
                <div class="col-75">
                    <img style="margin:0;" src="~/images/@Model.imagefilename" height="20">
                 
             <!-- 
                future feature editing image of the article    
             
             <input id=input type="file"   asp-for="imagefilename" />
                     
                   <span asp-validation-for="imagefilename"></span>


                    -->



                </div>                                
            </div>
        
                <div class="row" >
                <div class="col-25"></div>
                <div class="col-75">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
