@model project2.Models.accounts

@{
    ViewData["Title"] = "Edit";
}
<div style="margin-top:30px;">
    <a asp-action="Index">Back to List</a>
</div>
<h1>Edit</h1>

<h4>accounts</h4>
<hr />
<div class="Content">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
            <div class="col-25"><label asp-for="username" class="control-label"></label></div>
            <div class="col-75">
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>    
            </div>

            <div class="row">
            <div class="col-25"><label asp-for="email" class="control-label"></label></div>
            <div class="col-75">
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>       
            </div>

            <div class="row">
            <div class="col-25"><label asp-for="password" class="control-label"></label></div>
            <div class="col-75">
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>     
            </div>

            <div class="row">
            <div class="col-25"><label>Gender</label></div>
            <div class="col-75">
                <div class="checkbox">
                    <label> <input type="radio" asp-for="gender" value="male" /> male</label>
                </div>
                <div class="checkbox">
                    <label> <input type="radio" asp-for="gender" value="female" />female</label>
                </div>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>              
            </div>
          
            <div class="row" style="border-top:solid; margin-top:30px;">
            <div class="col-25"><label>Role</label></div>
            <div class="col-75">
                <div class="checkbox">
                    <label> <input type="radio" asp-for="role" value="admin" /> admin</label>
                </div>
                <div class="checkbox">
                    <label> <input type="radio" asp-for="role" value="customer" />customer</label>
                </div>
                <div class="checkbox">
                    <label> <input type="radio" asp-for="role" value="expert" />expert</label>
                </div>
                <span asp-validation-for="role" class="text-danger"></span>
            </div>
            </div>
            
          
           


        <div class="row">
            <div class="col-25"><label>Date</label></div>
            <div class="col-75"> <input disabled asp-for="Date" class="form-control" /></div>
        </div>




        <div style="text-align:center;margin-bottom:30px;margin-top:30px;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}