@model IEnumerable<project2.Models.accounts>

@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript">
    setTimeout(function () { location.reload(true); }, 500);
</script>
<h1>Index</h1>
