@model project2.Models.accounts



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> - MTGS</title>
    <link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<h4>Registration</h4>
<hr />

<div class="row" style="
margin: 0;
margin-left: 30%;
margin-right: 30%;
justify-content: center;
border-radius: 25px;
    background-color: rgba(26, 26, 26, 0.533);

    padding: 5%;">

    <script>

        @* For more information on enabling MVC for empty projects, visit
            http://go.microsoft.com/fwlink/?LinkID=397860 *@ @{
            Layout = null;


            ViewData["Title"] = "View";
        }

 function VP() {
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("pass2").value;
        //check empty password field
        if (pass1.value == pass2.value) {    
            if (pass1 == pass2) {
               document.getElementById("rb").disabled = false;
            } else {
                document.getElementById("rb").disabled = true;
                document.getElementById("message").innerHTML = "wrong conformation";

            }
        }
        }


   
</script>

    <div >
        <form asp-action="register">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-25"> <label asp-for="username" class="control-label">UserName</label></div>
                <div class="col-75">
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-25"> <label asp-for="email" class="control-label">Email</label></div>
                <div class="col-75">
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-25"><label asp-for="password" class="control-label">Password</label></div>
                <div class="col-75">
                    <input type="password" asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-25"><label class="control-label">Password Confirmation</label></div>
                <div class="col-75"> <input id="pass2" type="password" onchange="VP()" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-25"><label asp-for="gender" class="control-label">Gender</label></div>
                <div class="col-75">
                    <div class="checkbox">
                        <label> <input type="radio" asp-for="gender" value="male" id="rm" /> Male</label>
                    </div>
                    <div class="checkbox">
                        <label> <input type="radio" asp-for="gender" value="female" id="rf" /> Female</label>
                    </div>
                    <span asp-validation-for="gender" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <a asp-action="Index"> Back </a>

                <div class="col-25"></div>
                <div class="col-75"><input type="submit" id="rb" value="Create" class="btn btn-primary" /></div>
            </div>
         
         

            <div class="form-group">
                
            </div>
        </form>
        @ViewData["message"]
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
