@model project2.Models.accounts
<div style="margin-top:30px;">
    <a asp-action="Index"> Back </a>
</div>
<h4>Registration</h4>
<hr />
<div class="row">
    
 <script>



 function VP() {
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("pass2").value;
        //check empty password field
        if (pass1.value == pass2.value) {    
            if (pass1 == pass2) {
               document.getElementById("rb").disabled = false;
            } else {
                document.getElementById("rb").disabled = true;
                document.getElementById("message").innerHTML = "wrong conformation";

            }
        }
        }


   
</script>

    <div class="col-md-4">
        <form asp-action="register">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-25"> <label asp-for="username" class="control-label">UserName</label></div>
                <div class="col-75">
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-25"> <label asp-for="email" class="control-label">Email</label></div>
                <div class="col-75">
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-25"><label asp-for="password" class="control-label">Password</label></div>
                <div class="col-75">
                    <input type="password" asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-25"><label class="control-label">Password Confirmation</label></div>
                <div class="col-75"> <input id="pass2" type="password" onchange="VP()" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-25"><label asp-for="gender" class="control-label">Gender</label></div>
                <div class="col-75">
                    <div class="checkbox">
                        <label> <input type="radio" asp-for="gender" value="male" id="rm" /> Male</label>
                    </div>
                    <div class="checkbox">
                        <label> <input type="radio" asp-for="gender" value="female" id="rf" /> Female</label>
                    </div>
                    <span asp-validation-for="gender" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-25"></div>
                <div class="col-75"><input type="submit" id="rb" value="Create" class="btn btn-primary" /></div>
            </div>
         
         

            <div class="form-group">
                
            </div>
        </form>
        @ViewData["message"]
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}